<%= simple_form_for card do |f| %>
  <div class="form-group">
    <%= f.input :original_text,  as: :text, label: t(:original_text_label),
                input_html: { class: 'form-control', required: true,
                              autofocus: true } %>
  </div>

  <div class="form-group">
    <%= f.input :translated_text,  as: :text, label: t(:translated_text_label),
                input_html: { class: 'form-control', required: true } %>
  </div>

  <div class="form-group">
    <%= f.input :image, as: :file, label: t(:image_label) %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :id, as: :hidden %>
  </div>

  <%= f.simple_fields_for :photo, :method => 'patch' do |photo_form| %>
    <div class="form-group">
      <%= link_to 'Загрузить фото с Flickr', '#',
        class: 'btn btn-default', id: 'show_div' %>
      <div id="hidden" class="form-group">
        <%= photo_form.text_field :search_string, :value => params[:search_string] %>
      </div>
    </div>

    <div class="form-group">
      <%= photo_form.submit 'Искать фото', formaction: search_photo_path,
        class: 'btn btn-default', id: 'search_btn' %>
        
    </div>
  <% end %>

  <div id="flickr-photo">
  </div>

  <%= f.input :remote_image_url, as: :hidden %>

  <div class="form-group">
    <%= f.input :block_id, collection: current_user.blocks.all.order('title'),
                      prompt: t(:select_deck), label: t(:decks_label),
                      input_html: { class: 'form-control', required: true } %>
  </div>

  <p>
  </p>
  <% if card.image? %>
    <div class="form-group">
      <%= f.input :remove_image, as: :boolean, label: t(:delete_image) %>
      <div class="row">
        <div class="col-xs-6 col-md-4 card_image">
          <p class="thumbnail">
            <%= image_tag card.image_url %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.button :submit, t(:save), class: 'btn btn-default' %>
<% end %>
