<%= form_tag 'remote_create' do %>
  <div class="form-group">
    <%= label_tag :remote_url, 'Внешний url:' %>
    <%= text_field_tag 'remote_url', '', class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= label_tag :original_selector, 'Селектор оригинального слова:' %>
    <%= text_field_tag 'original_selector', '', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :translate_selector, 'Селектор перевда:' %>
    <%= text_field_tag 'translate_selector', '', class: 'form-control' %>
  </div>

  <div class="form-group">
  </div>
  <%= submit_tag('Загрузить', class: 'btn btn-default') %>
<% end %>